@import "abstracts/colors";
@import "abstracts/type";
@import "mixins/mixins";
.auth-buttons {
  border: unset;
  padding-inline: $spacing-1rem;
  padding-block: .5rem;
  border-radius: $border-radius;
  margin-inline: $spacing-half-rem;
  transition: .5s all ease;
  @include font($font-light,14);
  @include box-shadow;

  &:hover {
    transform: translateY(5px);
    //@include change-background($white);
    //@include change-color($accent);
    //transform: scale(1.1);
  }
  &:active {
    box-shadow: unset;
  }

  &--register {
    @include change-background($accent);
    @include change-color($white);

  }

  &--login {
    @include change-background($white);
    @include change-color($black);
    padding-inline: 1.555rem;;
  }
}
