@import 'abstracts/type';
@import 'abstracts/colors';
@import 'mixins/mixins';
.complaint-input-element {
    padding: 0.5rem;
    width: 100%;
    outline: unset;
    border: 2px  solid $accent;
    border-radius: 4px;

    &::placeholder {
        color: $main;
        opacity: .4;
        @include font(400, .8em);
    }
}

.complaint-input-labels {
    color: $text-grey;
    @include font(600, .8em);
   .required-star {
       color: $text-red;
   }
}

.side-nav-content__header {
    padding-top: 0;
}
.submit-medical-history{
    display: block;
    padding-block: .5rem;
    padding-inline: 2rem;
    border-radius: 20px;
    background: $secondary;

    margin-left: auto;
    margin-right: auto;
    margin-block-start: 1rem;
    outline: unset;
    border: unset;
    @include font(600, 1.2em, 'Poppins');
    text-transform: capitalize;
    color: $white;

    box-shadow: 0 1px 1px rgb(0 0 0 / 14%), 0 2px 1px rgb(0 0 0 / 12%), 0 1px 3px rgb(0 0 0 / 20%);

    &:active {
        box-shadow: unset;
    }
}
