@import 'abstracts/colors';
@import 'abstracts/type';
@import 'mixins/mixins';
.mat-table {
  background: unset;
  width: 100%;
  margin-block-end: 1rem;
  th {
    color: $main;
    background: rgba(232, 232, 232, 0.2);
    @include font(700, 1em, 'Lato');
  }
  td {
    @include font(400, 1em, 'Lato');
    color: $text-grey;
  }
  th, td {
    border-bottom-color: rgb(53 28 28 / 5%);
  }


}
.table-pagination {
  justify-content: flex-start;
  background: $background;

  ::ng-deep .mat-paginator-container {
    justify-content: flex-start;
  }
  ::ng-deep .mat-paginator-navigation-first,
  ::ng-deep .mat-paginator-navigation-previous,
  ::ng-deep .mat-paginator-navigation-next,
  ::ng-deep .mat-paginator-navigation-last {
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-main-blue;
    border: 1px solid $text-main-light;
    background: $white;
    cursor: pointer;

    @include box-shadow;

    &:active {
      box-shadow: unset;
      border: unset;
    }
  }
  ::ng-deep .mat-paginator-navigation-first,
  ::ng-deep .mat-paginator-navigation-previous,
  ::ng-deep .mat-paginator-navigation-next {
    margin-inline-end: .5rem;
  }

  ::ng-deep .mat-paginator-range-label {
    display: none;
  }

}


