@import "layout/page-layout";
@import "abstracts/colors";
@import "abstracts/type";
@import "components/text-headers";
@import "mixins/mixins";
@import "components/auth-card";
@import "components/porfolio-item";
.dashboard  {
  background: transparent;
  margin-inline: 10rem;
  margin-block:3rem;
  display: grid;
  //grid-template-columns: 3fr 1fr;
  overflow: unset;
  .main {

    .market-trends {
      &__header {
        @include font(500, 30);
        margin-block-end: calc($spacing-1rem * 3);

      }
    }
  }
  .wallet {

  }




}


