<div class="landing-page">
  <app-nav [hideHamburger]="true"></app-nav>

  <section class="main">
     <div class="intro">
       <h1 class="intro__hero-text">Get yaself a Stock in few clicks</h1>
       <h4 class="intro__message">Welcome to TLC's largest crypto exchange</h4>
       <div class="intro__register">
          <button class="auth-buttons auth-buttons--register" routerLink="/register">Sign Up</button>
       </div>
     </div>

    <div class="market-trends mt-lg-5">
       <h2 class="market-trends__header">Market Trend</h2>
       <div class="market-trends__table trends-table">
          <div class="trends-table__column-header">
            <div class="header-item stock">Stock</div>
            <div class="header-item sell-limit">Sell Limit</div>
            <div class="header-item last-price">Last price</div>
            <div class="header-item ask-price">Ask Price</div>
            <div class="header-item bid-price">Bid Price</div>
          </div>
          <div class="row-container">
            <div class="trends-table__rows row-container__product-row">
              <div class="row-item stock d-flex">
                <div class="stock__icon-container">
                  <img src="assets/icons/microsoft.svg" alt="Microsoft  logo">
                </div>
                MSFT
              </div>
              <div class="row-item sell-limit">7,000</div>
              <div class="row-item last-price">1.10</div>
              <div class="row-item ask-price">1.10</div>
              <div class="row-item bid-price">8,000</div>
            </div>
            <div class="trends-table__rows row-container__product-row">
              <div class="row-item stock">
                <div class="stock__icon-container">
                  <img src="assets/icons/tesla.svg" alt="Tesla icon">
                </div>
                TSLA
              </div>
              <div class="row-item sell-limit">5,000</div>
              <div class="row-item last-price">1.30</div>
              <div class="row-item ask-price">1.30</div>
              <div class="row-item bid-price">10,000</div>
            </div>
            <div class="trends-table__rows row-container__product-row">
              <div class="row-item stock">
                <div class="stock__icon-container">
                  <img src="assets/icons/google.svg" alt="Google  logo">
                </div>
                GOOGL
              </div>
              <div class="row-item sell-limit">7,400</div>
              <div class="row-item last-price">1.60</div>
              <div class="row-item ask-price">1.60</div>
              <div class="row-item bid-price">9,000</div>
            </div>
            <div class="trends-table__rows row-container__product-row">
              <div class="row-item stock">
                <div class="stock__icon-container">
                  <img src="assets/icons/apple.svg" alt="Apple  logo">
                </div>
                AAPL
              </div>
              <div class="row-item sell-limit">4,000</div>
              <div class="row-item last-price">3.10</div>
              <div class="row-item ask-price">1.10</div>
              <div class="row-item bid-price">8,000</div>
            </div>
            <div class="trends-table__rows row-container__product-row">
              <div class="row-item stock">
                <div class="stock__icon-container">
                  <img src="assets/icons/ibm.svg" alt="Microsoft  logo">
                </div>
                IBM
              </div>
              <div class="row-item sell-limit">7,000</div>
              <div class="row-item last-price">1.10</div>
              <div class="row-item ask-price">1.10</div>
              <div class="row-item bid-price">8,000</div>
            </div>
            <div class="trends-table__rows row-container__product-row">
              <div class="row-item stock">
                <div class="stock__icon-container">
                  <img src="assets/icons/oracle.svg" alt="Microsoft  logo">
                </div>
                ORACL
              </div>
              <div class="row-item sell-limit">67000</div>
              <div class="row-item last-price">0.10</div>
              <div class="row-item ask-price">1.10</div>
              <div class="row-item bid-price">8,000</div>
            </div>
            <div class="trends-table__rows row-container__product-row">
              <div class="row-item stock">
                <div class="stock__icon-container">
                  <img src="assets/icons/amazon.svg" alt="Microsoft  logo">
                </div>
                AMZN
              </div>
              <div class="row-item sell-limit">8,000</div>
              <div class="row-item last-price">1.11</div>
              <div class="row-item ask-price">1.10</div>
              <div class="row-item bid-price">8,000</div>
            </div>
          </div>
       </div>
    </div>

  </section>

</div>

