<section class="login">
   <app-nav [hideAuthButtons]="true"></app-nav>

  <div class="login__main-page">
      <div class="image">
        <img src="assets/login-image.svg" alt="image to depict login">
      </div>
      <div class="login-card auth-card">
          <div class="card-content">
             <h2 class="card-content__header">Account Login</h2>
               <div class="card-content__inputs">
                 <input type="text" placeholder="Username">
                 <input type="password" placeholder="Password">
                 <button class="auth-buttons auth-buttons--register">Sign In</button>
                 <div class="sign-up-instead">
                   <p>New to red brokers? <a routerLink="/register">Sign up</a> instead</p>
                 </div>
               </div>
          </div>
      </div>
   </div>
</section>

