@import "abstracts/colors";
@import "components/buttons";
.header {
  //top: -1rem;
  //position: sticky;
  //z-index: 1;
  margin-inline: $spacing-main;

  .navigation {
    &__toggle-sidebar{
      display: flex;
      align-items: center;
      i {

        font-size: 20px;
        cursor: pointer;
      }

    }
    &__logo {

    }
    &__auth-buttons { ::-webkit-scrollbar{
      width: .6em;
    }
      ::-webkit-scrollbar-track{
        @include box-shadow;
      }
      ::-webkit-scrollbar-thumb{
        @include change-background($background);
      }
      align-self: center;
    }
  }
}
