@import 'abstracts/colors';
@import 'abstracts/type';
@mixin box-shadow {
  box-shadow: 2px 2px 4px rgba(129, 129, 129, 0.65);;
}


@mixin underline($background: $accent) {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: $background;
}



