@import 'abstracts/colors';
@import 'abstracts/type';
@mixin box-shadow {
    box-shadow: 0 12px 26px rgba(16, 30, 115, 0.06);
}

@mixin z-index($index: 10) {
    @if $index  < 10 {
        @error 'The default z-index is 10; #{$index} is less than 10: Kindly use a higher z-index  ';
    }
    z-index: $index;
}

@mixin scroll-bar($background: $main) {
    ::-webkit-scrollbar{
        width: .6em;
    }
    ::-webkit-scrollbar-track{
        @include box-shadow;
    }
    ::-webkit-scrollbar-thumb{
        @include change-background($background);
    }
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}



@mixin underline($background: $accent) {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: $background;
}


 @mixin h1-website-headers {
    color: $accent;
    @include font(700, 36, 'Montserrat');
}

@mixin nav-active {
    border-left: 5px solid  $accent;
    background: linear-gradient(
                    270deg
            , rgba(124, 52, 92, 0.1) -2.61%, rgba(124, 52, 92, 0) 100%);
    color: $accent;
}


@mixin page-headers {
    color: $main;
    padding-bottom: $spacing-1rem;
    @include font(700, 2.5em, 'Lato')
}

@mixin profile-card {
    background: $white;
    border: 1px solid rgba(63, 63, 68, 0.005);
    box-shadow: 0 1px 0 rgba(63, 63, 68, 0.05), 0 1px 3px rgba(63, 63, 68, 0.15);
    border-radius: 4px;
}


